<div class="login-card">
  <div class="login-card-content">
    <div class="header">
      <div class="logo">
        <div>company logo</div>
      </div>
      <h2>Ruby<span class="highlight">App</span></h2>
      <h3>katianaruby</h3>
    </div>
    <div class="form">
      <div class="form-field username">
        <div class="icon">
          <i class="far fa-user"></i>
        </div>
        <input type="text" placeholder="usuario">
      </div>
      <div class="form-field password">
        <div class="icon">
          <i class="fas fa-lock"></i>
        </div>
        <input type="password" placeholder="contraseña">
      </div>

      <button type="submit">
        Entrar
      </button>
      <div>
        No eres tú? 
      </div>
    </div>
  </div>
  <div class="login-card-footer">
    <a href="">Bye 😎</a>
  </div>
</div>